<router-outlet></router-outlet>
<table>
  <tr>
    <td>Nr katalogowy</td>
    <td>Nazwa</td>
    <td>Rasa</td>
    <td>Wiek</td>
    <td>Maść</td>
    <td>Plec</td>
    <td>Znaki Szczegolne</td>
    <td>Wlasciciel</td>
  </tr>
  <tr *ngFor="let konik of koniki">
    <td>{{konik.nrWierzchowca}}</td>
    <td>{{konik.nazwaWierzchowca}}</td>
    <td>{{konik.rasa}}</td>
    <td>{{konik.wiek}}</td>
    <td>{{konik.umaszczenie}}</td>
    <td>{{konik.plec}}</td>
    <td>{{konik.znakiSzczegolne}}</td>
    <td>{{konik.wlasciciel}}</td>
  </tr>
  <a routerLink="/home"class="btn btn-link">Home</a>
</table>
