<h1>Zmiana hasla</h1>


<form [formGroup]="hasloForm" (ngSubmit)="onSubmit()">
    <label for="Haslo">Haslo</label>
    <input type="Haslo" formControlName="Haslo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Haslo.errors }" />
    <div *ngIf="submitted && f.Haslo.errors" class="invalid-feedback">
        <div class="required_link" *ngIf="f.Haslo.errors.required">Password is required</div>
        <div class="required_link" *ngIf="f.Haslo.errors.minlength">Password must be at least 6 characters</div>
    </div>
    <div class="haslo-Form">
      <button [disabled]="loading" class="btn btn-primary">Zmień</button>
      <button [routerLink]="['/moje-konto']" class="btn btn-link">Wróć<br/></button>
    </div>
</form>
